{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block meta %}Contact{% endblock %}


{% block body %}
    <section class="min-vh-100">
        <div class="jumbotron text-center">
            <h1 class="display-4">Contact</h1>
            <hr class="my-4">
            <p>Vous pouvez nous contacter, pour tout renseignement.</p>
        </div>
        <div class="row m-5 justify-content-center">
            <div class="col-5">

                {% include 'inc/flashes.html.twig' %}

                {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
                <p>
                    {{ form_label(form.lastname, 'Nom: ') }}
                    {{ form_widget(form.lastname, { attr: { placeholder: 'Saisissez votre nom' } }) }}
                </p>
                <p>
                    {{ form_label(form.email, 'Email: ') }}
                    {{ form_widget(form.email, { attr: { placeholder: 'ex : exemple@exemple.fr' } }) }}
                </p>
                <p>
                    {{ form_label(form.message, 'Message: ') }}
                    {{ form_widget(form.message) }}
                </p>
                <p>
                    <input type="submit" value="Valider" class="btn btn-primary">
                </p>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}


{% block script %}

{% endblock %}