{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block meta %}{% endblock %}" />

    {{ encore_entry_link_tags('app') }}

    {% block style %}

    {% endblock %}

    {% block linkscript %}

    {% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('admin.index') }}">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin.artwork.index') }}">Oeuvre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin.expo.index') }}">Expositions</a>
            </li>
        </ul>
        <a class="btn btn-outline-info" href="{{ path('security.logout') }}">Deconnexion</a>
    </div>
</nav>

{% block body %}
    <section class="min-vh-100">
        <h1 class="text-center m-2">Oeuvres</h1>
        <div class="row justify-content-center m-5">

        </div>
    </section>
{% endblock %}

</body>

</html>

{{ encore_entry_script_tags('app') }}
{% block script %}

{% endblock %}